/* Roboto, Rubik fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap");
@font-face {
    font-family: "Circular";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/CircularStd-Medium.otf) format("opentype");
}
@font-face {
    font-family: "Circular";
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/CircularStd-Bold.otf) format("opentype");
}

nav {
    margin-top: 27px;
    height: 140px;
    width: 800px;
    margin-inline: auto;
}
nav ul {
    list-style: none;
}
nav a,
nav a:hover,
nav a:visited {
    text-decoration: none;
    color: #000;
}
nav .nav-left {
    /* width: 50%; */
    display: flex;
}
nav .nav-right {
    /* width: 50%; */
    display: flex;
}

nav #top-nav {
    height: 50%;
    display: flex;
    justify-content: space-between;
    /* flex-flow: wrap; */
}

nav #main-nav {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

nav #main-nav ul#menu {
}
nav #main-nav ul#menu {
    display: flex;
}
nav #main-nav ul#menu li {
    padding-right: 20px;
}
