#section3 {
  margin: 100px 0 25px 0;
  width: 100%;
  height: 100%;
}

/* upper ----------------- */

#section3 #upper {
  width: 80%;
  margin: auto;
}

#section3 #upper #title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#section3 #upper #title {
  font-size: 40px;
  width: 60%;
  margin: auto;
}

#section3 #upper #title h1 {
  flex-grow: 2;
  width: 60%;
}

#section3 #upper #title h1 span {
  font-size: 40px;
  color: #1bacb0;
}

#section3 #upper #title span {
  width: 35%;
  flex-grow: 1;
  font-size: 20px;
}

#section3 #upper #cards {
  width: 100%;
  /* margin: auto; */
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr;
  grid-template-rows: auto;
  gap: 0.7rem;
  justify-content: center;
}

.card {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-sizing: border-box;
}

.card h4 {
  font-size: 24px;
}

.card > * {
  box-sizing: border-box;
  margin: 10px;
}

/* lower ----------------- */

#section3 #lower {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  box-sizing: border-box;
}

#section3 #lower #right {
  width: 45%;
}

#section3 #lower #right > * {
  margin: 30px 0 30px 0;
}

#section3 #lower #right h1 {
  font-size: 40px;
  /* width: 60%; */
  margin: auto;
}

#section3 #lower #right div {
  /* width: 35%; */
  /* flex-grow: 1; */
  font-size: 20px;
  color: #0e0e0e;
}

#section3 #lower #right button {
  background-color: #ff3f3f;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
}

#section3 #lower #left {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#section3 #lower #left div {
  text-align: center;
}

#section3 #lower #left div h1 {
  font-size: 40px;
}

#section3 #lower #left div:nth-child(2) h1 {
  color: #07b292;
}

#section3 #lower #left div:nth-child(2) span {
  color: #3e3e3e;
  font-size: 14px;
}

#section3 #lower #left div:nth-child(3) h1 {
  color: #fa4b24;
}

#section3 #lower #left div:nth-child(3) span {
  color: #3e3e3e;
  font-size: 12px;
}

#section3 #lower #left div:nth-child(6) h1 {
  color: #f9b800;
}

#section3 #lower #left div:nth-child(6) span {
  color: #3e3e3e;
  font-size: 10px;
}
